</div>
<div id="ads">
<center>
<p class="body">This is where ads will go.</p>
<hr />
<table>
<tr><th><center><h4>Powered by:</h4></center></th></tr>
<tr><td><table border="0" cellpadding="0" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_payments_by_pp_2line.png" border="0" alt="Payments by PayPal"></a><div style="text-align:center"><a href="https://www.paypal.com/webapps/mpp/how-paypal-works"><font size="2" face="Arial" color="#0079CD">How PayPal Works</font></a></div></td></tr></table></td></tr>
<tr><td><img src="/imgs/icons/apache2.jpg" width="150px" height="150px" /></td></tr>
<tr><td><img src="/imgs/icons/php-icon.png" width="150px" height="150px" /></td></tr>
<tr><td><img src="/imgs/icons/route53.png" width="150px" height="150px" /></td></tr>
</table>
</center>
</div>
</body>
</html>