<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>CT E-Waste and Scrap Removal</title>

<link rel="stylesheet" type="text/css" href="/templates/style.css">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83447315-1', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body>
<div id="header">
<h1>CT E-Waste and Scrap Removal</h1>
</div>
<div id="navigation">
<ul>
<li><a href="index.php">Home</a></li>
<li><a href="services.php">Services</a></li>
<li><a href="hours.php">Hours</a></li>
<li><a href="items.php">Items accepted</a></li>
<li><a href="forsale.php">Items For Sale</a></li>
<li><a href="contact.php">Contact</a></li>
<li><a href="donations.php">Donations</a></li>
</ul>
<hr />
<ul>
<li><a href="http://www.facebook.com/ctewaste/"><img src="/imgs/icons/facebook.png" width="142px" height="30px" alt="Facebook Page" /></a></li>
<li><a href="http://www.facebook.com/ctrecycle/"><img src="/imgs/icons/facebook.png" width="142px" height="30px" alt="Resale Page" /></a></li>
<li><a href="http://www.ebay.com/usr/ctur4134"><img src="/imgs/icons/ebay.jpg" width="142px" height="30px" alt="Ebay Account" /></a></li>
</ul>
</div>
<div id="body">